*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App{
    width: 80vw;
}

.card-creator{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-creator-task-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}


.card-creator-name-card{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}
.card-creator-single-task{
    padding-top: 10px;
}
.card-creator-single-task:first-child{
    padding-top: 0px;
}
.card-creator-add-task{
    width: 100%;
    margin-top: 10px;
}

.card-creator-button-create{
    margin-top: 10px;
}
.card-list{
    display: flex;
}
.card{
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    min-width: 200px;
    max-width: 300px;
}

.card-inner{
    display: flex;
    flex-direction: column;
}
.card-title{
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
    color: #ffffff;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}
.card-tasks-list-cover{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

.card-task{
    padding-left: 10px;
    display: inline;
    white-space: normal;
}
.card-task.completed{
    color: #666666;
    text-decoration: line-through;
}